ATS Score Resume.json
{
  "name": "ATS Score Resume",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "281c55dc-7a5e-4775-81b8-eb2a82873824",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hi",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "6c0b2616-c2a8-43e8-8967-3d186e443381",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "96a82513-3e61-45d1-8402-e9f77301ac3d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "hey",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -384,
        -16
      ],
      "id": "9ceb9821-3bea-49a9-b740-d9f2afc5ffaa",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Hi {{ $json.message.chat.first_name }},\nyou can upload zip file or single pdf so that i can provide you the ats score. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        -192
      ],
      "id": "3f48e357-a719-4f62-b219-223042bc69fc",
      "name": "Send a text message",
      "webhookId": "92734954-1328-4971-9acd-5546945357a5",
      "credentials": {
        "telegramApi": {
          "id": "khkF83gUVJz6mNu5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "efff34a9-f04e-4fca-893c-16ca662617ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b75688bf-bbf3-435f-b6d5-8d94994a72af",
                    "leftValue": "={{ $json.message.document.file_name }}",
                    "rightValue": "zip",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "zip file"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -32,
        96
      ],
      "id": "2f9b9316-c3a6-4fe3-b45e-5ce82590525a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        320,
        -112
      ],
      "id": "4c99be7a-8599-435a-94d4-79ed07a37d06",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will be given the full text of a resume.\nYour task is to analyze the resume and provide a final ATS (Applicant Tracking System) score between 0–100.\n\nSteps you must follow:\n\nRead the entire resume carefully.\n\nEvaluate it across the following ATS criteria:\n\nKeyword Match (role-related, skill-related keywords)\n\nFormatting Quality (clarity, consistency, structure)\n\nExperience Relevance\n\nSkills Coverage\n\nAchievements & Metrics\n\nGrammar & Readability\n\nATS Compatibility Issues (tables, columns, images, icons, etc.)\n\nBased on the above factors, provide output in json format like below :\n{\n\"name\": \n\"email\":\n\"mobile no\": 0\n\"ats_score\" : 0\n}\n\n\nhere is the resume text:  {{ $json.text }}",
        "options": {
          "systemMessage": "You are an advanced ATS (Applicant Tracking System) evaluation assistant.\nYour job is to analyze any resume provided to you and produce an accurate ATS score between 0–100, following strict industry standards.\n\nYou must evaluate resumes as real ATS tools do — focusing on keyword relevance, formatting, structure, skills alignment, achievements, and role suitability. Your tone should be analytical, unbiased, and highly structured.\n\nWhen producing the final output:\n\nDo not rewrite the resume.\n\nDo not add extra content not present in the resume.\n\nOnly evaluate the resume strictly based on what the user provides.\n\nYour scoring should be consistent, measurable, and tied to the criteria.\n\nYour response must ALWAYS follow the format:\n{\n\"name\": \n\"email\":\n\"mobile no\": 0\n\"ats_score\" : 0\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        656,
        -112
      ],
      "id": "98232d3d-8544-40e2-be8e-7626f48f54d6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        96
      ],
      "id": "8e905e5d-899a-4c43-a36b-e1c005ef3480",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Gi3f5KhmnFdDA7wa",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [{\"output\":_items[0][\"json\"][\"output\"].strip(\"```json\\n\")}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "468b0c61-3c14-49c0-b77a-640a20cb1663",
      "name": "Code in Python (Native) (Beta)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c56b9d2b-485f-40e1-9975-1474b5f54802",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        0
      ],
      "id": "e6c1094e-ba2e-452c-8570-397134cd7ca8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b92aa3d6-0a9b-4332-97af-61a7369d2876",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        0
      ],
      "id": "78019735-105d-41c9-b763-f990218de986",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        320,
        256
      ],
      "id": "fdf57fef-dba9-4122-8a93-3a029bc1e292",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        336
      ],
      "id": "88419b79-9ccf-40c4-a66c-a4f333cb59e0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        336
      ],
      "id": "3a904cdc-f5b6-4d4c-a6f4-c3f00cb6cfb6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{$binary.keys()[0]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        400
      ],
      "id": "10db9c20-3cb5-4318-85dd-49d89d3458bd",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will be given the full text of a resume.\nYour task is to analyze the resume and provide a final ATS (Applicant Tracking System) score between 0–100.\n\nSteps you must follow:\n\nRead the entire resume carefully.\n\nEvaluate it across the following ATS criteria:\n\nKeyword Match (role-related, skill-related keywords)\n\nFormatting Quality (clarity, consistency, structure)\n\nExperience Relevance\n\nSkills Coverage\n\nAchievements & Metrics\n\nGrammar & Readability\n\nATS Compatibility Issues (tables, columns, images, icons, etc.)\n\nBased on the above factors, provide output in json format like below :\n{\n\"name\": \n\"email\":\n\"mobile no\": 0\n\"ats_score\" : 0\n}\n\n\nhere is the resume text:  {{ $json.text }}",
        "options": {
          "systemMessage": "You are an advanced ATS (Applicant Tracking System) evaluation assistant.\nYour job is to analyze any resume provided to you and produce an accurate ATS score between 0–100, following strict industry standards.\n\nYou must evaluate resumes as real ATS tools do — focusing on keyword relevance, formatting, structure, skills alignment, achievements, and role suitability. Your tone should be analytical, unbiased, and highly structured.\n\nWhen producing the final output:\n\nDo not rewrite the resume.\n\nDo not add extra content not present in the resume.\n\nOnly evaluate the resume strictly based on what the user provides.\n\nYour scoring should be consistent, measurable, and tied to the criteria.\n\nYour response must ALWAYS follow the format:\n{\n\"name\": \n\"email\":\n\"mobile no\": 0\n\"ats_score\" : 0\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1296,
        400
      ],
      "id": "05f9d1b7-5401-488b-a1f5-6be953374a4a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        608
      ],
      "id": "2cf78c05-c37b-442a-96bf-5d79c13a4cf0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Gi3f5KhmnFdDA7wa",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [{\"output\":_items[0][\"json\"][\"output\"].strip(\"```json\\n\")}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        512
      ],
      "id": "583d496f-58f7-44b4-968e-ac3b4b95dcf1",
      "name": "Code in Python (Native) (Beta)1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c56b9d2b-485f-40e1-9975-1474b5f54802",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        512
      ],
      "id": "5c395e23-f7fe-4eb7-9125-6d320976c714",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b92aa3d6-0a9b-4332-97af-61a7369d2876",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        512
      ],
      "id": "3cb5a8fa-6ce4-4071-acc3-b3476297d361",
      "name": "If2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        -16
      ],
      "id": "22254e36-7edd-4619-b8d5-7c9b54b8c96d",
      "name": "ats bot",
      "webhookId": "a7961276-64a6-4db3-ae5f-15ec937443cd",
      "credentials": {
        "telegramApi": {
          "id": "khkF83gUVJz6mNu5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A",
          "mode": "list",
          "cachedResultName": "Resumes Shortlisted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Accepted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "mobile no": "={{ $json.output['mobile no'] }}",
            "ats_score": "={{ $json.output.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile no",
              "displayName": "mobile no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -96
      ],
      "id": "51eeb287-f2c3-4a84-bfc0-8ec3684514de",
      "name": "accepted",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CxUY581GxgD5erOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A",
          "mode": "list",
          "cachedResultName": "Resumes Shortlisted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1338367694,
          "mode": "list",
          "cachedResultName": "Rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit#gid=1338367694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "mobile no": "={{ $json.output['mobile no'] }}",
            "ats_score": "={{ $json.output.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile no",
              "displayName": "mobile no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        112
      ],
      "id": "5f5b9b66-caa7-4ed0-8f88-49080825263e",
      "name": "rejected ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CxUY581GxgD5erOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A",
          "mode": "list",
          "cachedResultName": "Resumes Shortlisted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Accepted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "mobile no": "={{ $json.output['mobile no'] }}",
            "ats_score": "={{ $json.output.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile no",
              "displayName": "mobile no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        416
      ],
      "id": "ecfdd444-5c0d-4520-96ac-c771309ca346",
      "name": "accepted ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CxUY581GxgD5erOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A",
          "mode": "list",
          "cachedResultName": "Resumes Shortlisted",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1338367694,
          "mode": "list",
          "cachedResultName": "Rejected",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uXUwVErLKDqHFzTm20X2HD6Vcah9DLaiE7q9GAdvj_A/edit#gid=1338367694"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.output.name }}",
            "email": "={{ $json.output.email }}",
            "mobile no": "={{ $json.output['mobile no'] }}",
            "ats_score": "={{ $json.output.ats_score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile no",
              "displayName": "mobile no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ats_score",
              "displayName": "ats_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2240,
        624
      ],
      "id": "5b841115-9b88-4b5d-9592-d9c52f064a7d",
      "name": "rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CxUY581GxgD5erOw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2560,
        512
      ],
      "id": "7b74b646-22d1-4464-96a9-a73f085d3a1e",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2768,
        512
      ],
      "id": "66e01c9a-587e-4240-b80d-1b64dfb716ad",
      "name": "Wait",
      "webhookId": "3703e265-0d64-4125-933d-cc577f4161da"
    },
    {
      "parameters": {
        "chatId": "={{ $('ats bot').item.json.message.chat.id }}",
        "text": "=Done",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        224
      ],
      "id": "b2685c56-c1ae-4ff9-871d-36d6f0ae3e55",
      "name": "done msg",
      "webhookId": "92734954-1328-4971-9acd-5546945357a5",
      "credentials": {
        "telegramApi": {
          "id": "khkF83gUVJz6mNu5",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native) (Beta)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "accepted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rejected ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "done msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native) (Beta)1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "accepted ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ats bot": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rejected": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "accepted ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "549155c6-4bc7-4e9c-927d-79de0efca821",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dc2d3dda75282b82fd58755ab628673e950ba5708c7976eb39ace14fcce8409"
  },
  "id": "YI0Ksay0w9gEuJ3m",
  "tags": []
}